node_modules/
dist/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.next/

.env
.env.local
.env.production

.firebase/
firebase-debug.log
firestore-debug.log
firebase-admin.json

.DS_Store
Thumbs.db

*.p12
*.cer
*.pfx

*.log
logs/
