PORT=3000
NODE_ENV=development

FIREBASE_PROJECT_ID=tu-proyecto-firebase
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@tu-proyecto.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

ENCRYPTION_MASTER_KEY=cambia_esto_por_una_clave_de_64_caracteres_hex

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

SUNAT_API_BASE_URL=https://api-seguridad.sunat.gob.pe
SUNAT_TOKEN_URL=https://api-seguridad.sunat.gob.pe/v1/clientesextranet
SUNAT_GEM_URL=https://api-cpe.sunat.gob.pe/v1/contribuyente/gem
SUNAT_PORTAL_URL=https://e-menu.sunat.gob.pe/cl-ti-itmenu/MenuInternet.htm

PLAYWRIGHT_HEADLESS=false
